<form method="post">
  <table>
    <tr>
      <th>New password</th>
      <td><input type="password" name="password" size="20"></td>
    </tr>
    <tr>
      <th>Confirm</th>
      <td><input type="password" name="password_confirmation" size="20"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Change password"></td>
    </tr>
  </table>
</form>
