<p>Someone signed up for Stormy Weather with this email address (<%= email %>). If this wasn't you ignore this email and we will not bother you again. If this was you please <strong><a href="<%= url %>">verify your email address now</a></strong>.</p>

<p>Thanks!</p>
