
<h2 class="section-heading top">Oops</h2>

<div class="section">
  <p align="center">
    Something broke, but fear not! We have been notified about the problem and will fix it ASAP.
  </p>

  <p align="center">
    <a href="javascript:history.go(-1)">Take me back from whence I came!</a>
  </p>
</div>
