<h2 class="section-heading top">Forgot Password</h2>

<%== flash_message %>

<div class="section" style="margin: auto; width: 45%">
  <p>Forgot your password eh? No sweat, these things happen.</p>

  <form action="/forgot-password" method="post" id="forgot-password-form">
  <table>
    <tr>
      <th><label for="email">Email</label></th>
      <td><input id="email" type="email" name="email" size="40" placeholder="jane.doe@example.com" value="<%= @email %>"></td>
    </tr>
    <tr>
      <th></th>
      <td align="right">
        <input type="submit" value="Reset my password">
        <img src="/images/spinner.gif" id="spinner" style="display: none">
      </td>
    </tr>
  </table>
  </form>
</div>
