
<h3 class="section-heading top">:(</h3>

<div class="section">
  <p align="center">Hmmm... We don't seem to have what you're looking for.</p>
  <p align="center">
    <a href="/">Ok fine, I'm outta here!</a>
  </p>
</div>
