
<h2 class="section-heading top">:(</h2>

<div class="section">
  <p align="center">Hmmm... We don't seem to have what you're looking for.</p>
  <p align="center">
    <% if authorized? %>
    <a href="/projects">
    <% else %>
    <a href="/">
    <% end %>
    Ok fine, I'm outta here!
    </a>
  </p>
</div>
