
<h2 class="section-heading top">Reset My Password</h2>

<%== flash_message %>

<form id="reset-password-form" action="/account/reset-password" method="post">
<table id="reset-password">

  <tr>
    <th><label for="password">New Password</label></th>
    <td id="password-cell">
      <input type="password" name="password" id="password" size="30" placeholder="Secret">
    </td>
  </tr>

  <tr>
    <th><label for="password-confirmation">Confirm Password</label></th>
    <td id="password-confirmation-cell">
      <input type="password" name="password-confirmation" id="password-confirmation" size="30" placeholder="Again">
    </td>
  </tr>

  <tr>
    <th></th>
    <td id="submit-cell">
      <input id="reset-password-button" type="submit" value="Reset My Password">
      <span id="reset-password-spinner"><img src="/images/spinner.gif"> Resetting...</span>
    </td>
  </tr>

</table>
</form>
