<%== flash_message %>

<div class="container">
  <div class="content">
    <div class="row">
      <div class="sign-in-form">
        <h2>Sign in</h2>

        <form id="sign-in-form" action="/sign-in" method="post">
          <fieldset>
            <div class="clearfix">
              <input type="email" name="email" id="email" size="30" placeholder="Email" value="<%= @email %>">
            </div>
            <div class="clearfix">
              <input type="password" name="password" id="password" size="30" placeholder="Password">
            </div>
            <div class="clearfix">
              <input type="checkbox" name="remember" id="remember">
              <label for="remember">Keep me signed in</label>
            </div>
            <div class="clearfix submit">
              <button id="sign-in-button" class="btn-primary" type="submit">Sign in</button>
              <span id="sign-in-spinner"><img src="/images/spinner.gif"> Signing in...</span>
            </div>
          </fieldset>
        </form>

      </div><!-- sign-in-form -->
    </div><!-- row -->
  </div> <!-- content -->

  <div class="row other-actions">
    <p style="float:right">
      Not a member yet? <a href="/sign-up">Sign Up!</a>
    </p>
    <p>
      <a href="/forgot-password" id="forgot-password-link">Forgot your password?</a>
    </p>
  </div><!-- row -->
</div><!-- container -->
