<%== flash_message %>

<form id="sign-in-form" action="/sign-in" method="post">
<table id="sign-in">

  <tr>
    <th><label for="email">Email</label></th>
    <td><input type="email" name="email" id="email" size="30" placeholder="jane.doe@example.com" value="<%= @email %>"></td>
  </tr>

  <tr>
    <th><label for="password">Password</label></th>
    <td id="password-cell">
      <input type="password" name="password" id="password" size="30" placeholder="Secret">
    </td>
  </tr>

  <tr>
    <th></th>
    <td>
      <input type="checkbox" name="remember" id="remember">
      <label for="remember">Keep me signed in</label>
    </td>
  </tr>

  <tr>
    <th></th>
    <td id="submit-cell">
      <input id="sign-in-button" type="submit" value="Sign In">
      <span id="sign-in-spinner"><img src="/images/spinner.gif"> Signing in...</span>
    </td>
  </tr>

  <tr>
    <td colspan="2" id="sign-up">
      <a href="/forgot-password" id="forgot-password-link">Forgot your password?</a>
      <br>
      Not a member yet? <a href="/sign-up">Sign Up!</a>
    </td>
  </tr>

</table>
</form>
