.section { width: 90% }

#photo-form
{ height: 0
; width: 0
; opacity: 0
; position: fixed
; top: 0
}

#upload-target
{ width: 0
; height: 0
; opacity: 0
}

.save
{ width: 90%
; margin: 1em auto
; text-align: right
}

input.save-button
{ background-color: #092
; border-color: #061
}

.save-button-spinner { display: none }

table#project-info
{ width: 90%
; margin: 1em auto
}

table#project-info th
{ color: #405e83
; text-align: right
; vertical-align: top
; padding: 0.2em 0.5em 0.7em
}

input[type="text"],
input[type="tel"],
input[type="url"]
{ padding: 0 0.2em
; border: #CCD3DB 1px solid
; font-size: 1em
; height: 1.5em
; margin: 0
}

textarea
{ border: #CCD3DB 1px solid
; font-size: 0.9em
; line-height: 1.2em
; padding: 0.3em
; margin: 0
}

#photos li
{ display: inline-block
; width: 72px
; height: 84px
; padding: 0
; margin: 0.2em 0.25em 0.7em
; text-align: center
}

li#add-photo-box { display: inline-block }
#photos li#add-photo-spinner { height: 18px }

.add-photo { font-size: 0.8em }
a.add-photo { font-size: 0.9em }
.remove-photo { color: #900 }

#ie-photo-uploaderQueue { display: none }

#ie-photo-uploaderUploader
{ height: 64px
; width: 64px
}

#drag-n-drop
{ padding-left: 3em
; font-style: italic
}
