
table#reset-password { margin: auto }

th
{ text-align: right
; vertical-align: top
; padding-top: 0.6em
; padding-right: 0.4em
}

label { line-height: 1.7em }

input[type="text"], /* fake password placeholder element created by jquery.placeholder */
input[type="email"],
input[type="password"]
{ margin: 0.3em 0 0 }

#reset-password-spinner { display: none }

#submit-cell
{ text-align: right
; color: #405e83
; padding-top: 0.5em
}
